<style>
    /* edit-event.component.css */

h2 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
textarea,
input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

</style>

<h2>Modifier mon événement</h2>

<form (ngSubmit)="onEditEvent()">
  <div>
    <label for="titre">Titre :</label>
    <input type="text" id="titre" name="titre" [(ngModel)]="eventData.titre" required>
  </div>
  <div>
    <label for="description">Description :</label>
    <textarea id="description" name="description" [(ngModel)]="eventData.description" required></textarea>
  </div>
  <div>
    <label for="date">Date :</label>
    <input type="date" id="date" name="date" [(ngModel)]="eventData.date" required>
  </div>
  <div>
    <label for="heure">Heure :</label>
    <input type="time" id="heure" name="heure" [(ngModel)]="eventData.heure" required>
  </div>
  <div>
    <label for="lieu">Lieu :</label>
    <input type="text" id="lieu" name="lieu" [(ngModel)]="eventData.lieu" required>
  </div>
  <div>
    <label for="infosTicket">Informations sur le ticket :</label>
    <textarea id="infosTicket" name="infosTicket" [(ngModel)]="eventData.infosTicket" required></textarea>
  </div>
  <button type="submit">Enregistrer les modifications</button>
</form>

